.sd-nav{
    background-color: rgba(0,0,0,0.8);
    padding: 10px 0 20px;
    position: absolute;
    width: 100%;
    z-index: 10;
    border-top: 1px solid #333;
    nav{
        display: flex;
        justify-content: center;
        ul{
            width: 160px;
            color: #fff;            
            line-height: 40px;
            text-align: center;
        }
    }
}