@import '_mixin';
.hdr-wrap {
  padding: 10px 20px;
  width: 100%;
  background-color: var(--header-bgc);
  position: absolute;
  top: 0;
  z-index: 9999;
  header {
    @include width;
    @include flex(space-between);
    align-items: center;
    color: #fff;
    .logo{
      line-height: 40px;
    }
    .nav {
      display: flex;
      li{
        @include fonts(16px, 700, 40px);
        padding-left: 40px;
      }
    }

    .btn{
      width: 40px;
      button{
        width: 14px; height: 14px;
        background-color: #fff;
        border-radius: 100px;
      }
    }
  }
}