.sd-header {
  background-color: #000;
  color: #fff;

  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .logo {
      width: 120px;
    }

    .gnb {
      display: flex;

      h2 {
        width: 160px;
        text-align: center;
      }
    }

    .loginbox {
      text-align: right;
      width: 120px;
      font-size: 14px;
    }
  }
}